@import './../../styles/main'

// Payment and Calculator Nav Tabs
.tabsContainer
  +mainPadding(0, 10%)

.tab
  border: none
  color: $mainContentColor
  padding: 0.5rem
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: $tabFontSize
  cursor: pointer

.accountContainer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.innerAccountContainer
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-end

.inputContainerWidthPart
  width: 8rem
  margin-right: 0.5rem

.btnContainer
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: flex-end

.separator
  height: 0.5rem

.exportSection
  display: flex
  flex-direction: row
  justify-content: space-between
