.containerFluid
  width: 100%
  padding-bottom: 1.5rem
  background-color: rgb(251,242,234)

.container
  margin: 0 auto
  width: 80%
  background-color: white

.separator
  height: 0.5rem

.header
  padding: 0.5rem 0 0.5rem 11%
  font-size: 1.5rem
  font-weight: bold
  color: #f95f00

.exportSection
  display: flex
  flex-direction: row
  justify-content: space-between

.sectionWrap
  display: flex
  flex-direction: row
  justify-content: space-between