// Root Styles
@import './../../styles/main'

/* Main Navbar Tab Wrapper: INDEX.JS */
.wrapTabs
  display: flex
  flex-direction: row
  justify-content: space-around


/* NAVITEM.JS */
.tabContainer
  width: 100%
  padding: 0.5rem 0 0.5rem 0 /* Top, Right, Bottom, Left padding */
  border-bottom: lightgrey solid 0.001rem
  &:first-child
    border-right: lightgrey solid 0.001rem
  &:hover
    cursor: pointer

.tabLink
  +flexCenter(column)
  text-decoration: none

.tabLabel
  color: black

.tabLabelActive
  color: $mainHeaderColor
