@import "./../../styles/main"

.containerFluidFooter
  background-color: rgb(235,231,226)

.containerFooter
  margin: 0 auto
  width: 80%
  +flexJustify(row, space-between)
  background-color: rgb(235,231,226)

.block
  display: flex
  flex-direction: column
  margin-top: 0.7rem

.blockHeader
  font-size: 1.2rem
  padding-bottom: 0.5rem

.telLink
  padding: 0 0 0.7rem
  text-decoration: none

.emailLink
  padding: 1rem 0
  color: $linkColor

.contactBlockText
  line-height: 1.2rem

.social
  +flexJustify(row, space-between)
  margin: 1rem 0
  width: 9.5rem

.footerLink
  text-decoration: none
  color: black
  line-height: 1.8rem
  &:before
    content: "▸ "
  &:hover
    text-decoration: underline

.additionalInfo
  width: 60%
  margin: 2rem auto

.additionalInfoText
  text-align: justify
  font-size: 0.7rem